[submodule "OpenRGB"]
	path = OpenRGB
	url = https://gitlab.com/CalcProgrammer1/OpenRGB
[submodule "Dependencies/QCodeEditor"]
	path = Dependencies/QCodeEditor
	url = https://github.com/justxi/QCodeEditor.git
[submodule "Dependencies/SimplexNoise"]
	path = Dependencies/SimplexNoise
	url = https://github.com/SRombauts/SimplexNoise.git
[submodule "Dependencies/PerlinNoise"]
	path = Dependencies/PerlinNoise
	url = https://github.com/Reputeless/PerlinNoise.git
[submodule "Dependencies/obs-studio"]
	path = Dependencies/obs-studio
	url = https://github.com/cgytrus/obs-studio-openrgb.git
	shallow = true
